<header>
<nav>
  <div class="nav-wrapper">
    <a href="page-title">{{ page.title }}</a>
    {{ site.name }}
    <ul class="side-nav fixed" id="slide-out">
      <li class="logo"><a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a></li>
      {% for page in site.pages %}
      {% if page.title %}
      <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
      {% endif %}
      {% endfor %}
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
  </div>
</nav>
</header>