<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
    <main>
    <div class="page-content">
      <div class="wrapper container">
        {{ content }}
      </div>
    </div>
    </main>
    {% include footer.html %}
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/bower_components/materialize/bin/materialize.js"></script>
    <script type="text/javascript">
      $( document ).ready(function(){
        $(".button-collapse").sideNav();
      })
    </script>
  </body>
</html>